@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
   scroll-behavior: smooth;  
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jockey{
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}



.row{
  display: flex;
}

.btn{
  background: #4B8621;
  color: white;
  border: none;
  padding: 5px 44px;
  font-size: 18px;
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
}
  /*Header*/

header{
  padding-top: 13px;
}

header .row,
footer .row{
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header__wrapper{
  justify-content: space-between;
}

.header__buttons img{
  width: 48px;
  height: 48px;
}

.header__burger{
  height: 22px;
  width: 32px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 880px) {
  .header__navigation{
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: wheat;
    flex-direction: column;
    justify-content: center !important;
    box-shadow: 1px 1px 4px rgb(192, 195, 195);
    transition: all 0.3s; 
  }

.header__navigation.active{
  left: 0;
}

  .header__navigation nav{
    flex-direction: column;
  }

  .header__buttons a {
    display: none;
 
  }

  .header__burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 999;
  }

  .header__burger figure{
    width: 100%;
    height: 4px;
    background-color: #4B8621;
    transition: all 0.3s;
  }

  .header__burger.active figure:nth-child(1){
    transform: rotate(45deg) translateY(6px) translateX(7px); 
  }

  .header__burger.active figure:nth-child(2){
    width: 0px; 
    transform: translateX(15px);

  }

  .header__burger.active figure:nth-child(3){
    transform: rotate(-45deg) translateY(-5px) translateX(7px); ;
  }
}

/* Hero */

.hero img{
  height: 500px;
  max-width: 610px;
  width: 100%;
  object-fit: cover;
}

.hero .row{
  align-items: center;
  gap: 60px;
}

.hero h1{
  font-family: "Jockey One", sans-serif;
  color: #4B8621;
  font-size: 64px;
  margin-bottom: 20px;
}

.hero__content-subtitle{
  color: #888888;
  font-size: 28px;
  margin-bottom: 50px;
}

.hero__content-text{
  font-size: 36px;
  margin-bottom: 50px;
}

.hero button{
  height: 45px;
  width: 300px;
  font-size: 20px;
}

@media all and (max-width: 1024px) {
  .hero .row{
    flex-direction: column;
  }

  .hero__content {
    max-width: 610px;
    text-align: center;
  }
}


/* Card */

.advantages h3{
    align-items: center;
    font-size: 24px;
    padding: 20px;
    color: white;
    font-weight: 400;
}

.advantages__card {
    background-color: #4B8621;
    text-align: center;
    width: 300px;
    border-radius: 20px;
}

.advantages .row{
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__card img{
  width: 300px;
  height: 200px;
  object-fit: cover;
} 

.advantages h2{
  font-size: 36px;
  margin-bottom: 40px;
}

.advantages{
  margin-top: 80px;
}

@media all and (max-width: 570px) {
  .advantages h2{
    text-align: center;
  }
}

/* process */

.process .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
 .process .div1 { grid-area: 1 / 1 / 2 / 2; }
 .process .div2 { grid-area: 1 / 2 / 2 / 4; }
 .process .div3 { grid-area: 2 / 1 / 3 / 3; }
 .process .div4 { grid-area: 2 / 3 / 3 / 4; }

 .process  .grid img{
  width: 100%;
  height: 500px;
  object-fit: cover;
 }

 .process__item{
  position: relative;
 }

 .process__item h3{
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #4B8621;
  width: 280px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  left: calc(50% - 140px);
 }
 .process h2{
  font-size: 36px;
  margin-bottom: 40px;
 }

 .process{
  margin-top: 80px;
 }

 @media all and (max-width: 1024px) {
    .process .grid{
    display: flex;
    flex-direction: column;
  }

  .process__item:first-child img {
    object-position: 0 0;
  }
 }

 /* prices */

 .prices {
  margin-top: 80px;
 }

 .prices h2{
  text-align: center;
  font-size: 36px;
 }

 .prices table{
  margin: 40px auto;
  max-width: 1130px;
  width: 100%;
  font-size: 24px;
 }

 .prices button{
  margin: 0 auto;
  display: block;
 }
.prices td{
  background: #F2F2F2;
  text-align: center;
  padding: 5px 0;
  border: 5px solid white;
}
.prices tr td:first-child{
  color: #686868;
  background: none;
  text-align: left;
}

.prices__mobile{
  margin: 30px 0;
  display: none;
}

.prices__mobile-card{
  width: 300px;
  background: #4B8621;
  margin: 10px auto;
  padding: 15px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.prices__mobile-card h3 {
  font-size: 28px;
}

.prices__mobile-card p{
  font-size: 18px;
}

@media all and (max-width: 768px){
  .prices__mobile{
    display: block;
  }
  .prices__pc{
    display: none;
  }
}

/* contact */

.contact{
  margin-top: 80px;
}

.contact__box {
  background: #4B8621;
}

.contact__info{
  padding: 65px 50px;
}

.contact h2{
  font-size: 28px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  color: white;
  max-width: 500px;
}

input{
  border-radius: 20px 0 0 20px;
  width: 360px;
  height: 45px;
  border: none;
  padding: 0 15px;
  font-size: 18px;
}

.contact form{
  display: flex;
  align-items: center;
}

.contact button{
  border-radius: 0 20px 20px 0;
  background-color :rgba(104, 242, 5, 1);
  width: 180px;
  height: 45px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.contact__info-link{
  margin-top: 70px ;

}

.contact__info-link a {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.contact__info-social img {
  width: 42px;
  height: 42px;
}

.contact__info-social{
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.contact__map, iframe{
  width: 640px;
  height: 585px;
}

@media all and (max-width: 1380px) {
  .contact__box {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  .contact__map,
  iframe{
    width: 100%;
    height: 385px;
  }
  .contact button {
    width: 50%;
    font-size: 18px;
  }
  input {
    width: 100%;
  }

  .contact__info{
    padding: 30px 15px;
  }
}

/* Modal */

.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal__window{
  max-width: 420px;
  padding: 30px 20px;
  background: white;
  border-radius: 20px;
  position: relative;
  width: 100%;
}

.modal input{
  display: block;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.modal h2{
  margin-bottom: 25px;
}

.modal .btn{
  width: 100%;
  height: 38px;
  border-radius: 10px;
  margin-top: 20px;
}

.modal .close{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}